body {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
}

header {
padding-top: 0.7rem;
top: 0;
position: sticky;
background-color: var(--background);
}

nav {
  padding: 0.4rem;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  color: var(--primary);
  background-color: var(--background);
}

footer {
  height: 2.3rem;
  position:fixed;
  bottom:0;
  width:100%;
  color: var(--text);
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer li {
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--text);
  border-radius: 0.3rem;
}

footer img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}




