@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease-in-out;
}

a:hover {
  transform: scale(1.04);
  color: var(--text)

}

/* COLOR PALETTE */
:root {
  --background: #041b2b;
  --primary: #b26a25;
  --text: #d4af6f;
}


body {
  background-color: var(--background);
  background-image: url("https://www.transparenttextures.com/patterns/swirl.png");
}


main {
  margin-top: 2rem;
}
h1 {
  font-size: 2rem;
  color: var(--primary);
  font-family: 'Aclonica', sans-serif;
}

